/* test */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: tomato;
}

.keyContainer{
    position: absolute;
    bottom: 30px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.keyBox{
    background-color: tomato;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 20px;
    border: 5px solid black;
    font-weight: 700;
}

.textContainer{
    position: absolute;
    top: 30px;
    left: 30px;
    width: calc(100vw - 60px);
    height: calc(100vh - 60px);
    background-color: none;
    /* border-radius: 20px; */
    /* border: 5px solid black; */
    display: flex;
    overflow-wrap: break-word;
    color: black;
    pointer-events: none;
    
}

.tTitle{
    font-size: 40px;
    font-weight: 600;
}

.textB{
    padding: 20px;
}

.textBox-0{
    font-size: 60px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.tLogo{
    width: 100%;
    overflow-wrap: break-word;
    font-size: 70px;
    font-weight: 600;
    
}

.index{
    margin-top: 20px;
    font-size: 35px;
    font-weight: 600;
}

.indexList{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

.indexList > li{
    list-style-type: none;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.keyTBox{
    width: 40px;
    height: 40px;
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.textBox-1{
    display: none;
    flex-direction: column;
}
.textBox-2{
    display: none;
}
.textBox-3{
    display: none;
}

.tLink{
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    pointer-events:all;
    
}
.tLink > div{
    
    padding: 10px 20px;
    border: 3px solid black;
    border-radius: 10px;
}

.tLink > div:hover{
    opacity: 0.5;
}


.homeText{
    margin-top: 50px;
    font-size: 25px;
    width: 300px;
}

#githubLink{
    text-decoration: none;
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: black;
    font-size: 25px;
    font-weight: 600;
}

#githubLink:hover{
    opacity: 0.5;
}