.posFace{
    width: 100vw;
    height: 100vh;
    background-color: tomato;
}
.svgFont{
    /* transform-box: fill-box; */
    transform-origin: center;
    /* transform: rotate(45deg);   */
}
.tukmain{
    transition: 0.4s ease-in-out;
}
.tuk{
    height: 30px;
    fill: none;
    stroke-miterlimit:10;
    stroke-width:13px;
    stroke: #000;
    opacity: 1;
}

.tukCliked{
    height: 60px;
    fill: none;
    stroke-miterlimit:50;
    stroke-width:80px;
    stroke: #000;
    transform: scale(1.02, 1);
}

.mouthSvg{
    height: 1000px;
    fill: #044B94;
    stroke-miterlimit:10;stroke-width:13px;
    stroke: #fff;
}

.newMouth{
    height: 30px;
    fill: none;
    stroke-miterlimit:10;stroke-width:13px;
    stroke: #000;
}
.cls-2{
    transition: 0.4s ease-in-out;
}

.ey{
    transition: 0.4s ease-in-out;
}


/* .cls-1{
    stroke-dasharray: 100;
    animation: dashDraw 4s linear infinite;
}
@keyframes dashDraw {to {stroke-dashoffset: 200;}} */

/* .cls-1{
    stroke-dasharray: 2338.5;
   stroke-dashoffset: 2338.5;
    animation: dashDraw 4s linear infinite;
}
@keyframes dashDraw {to {stroke-dashoffset: 0;}}

.cls-1:hover{
    opacity: 0.4;
} */